<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse 4.5 RCP" sequenceNumber="53">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.common.feature.group" version="2.10.1.v20150123-0348"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.2.v20150123-0348"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.2.v20150202-0452"/>
<unit id="org.eclipse.emf.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.emf.mwe.core.feature.group" version="1.3.11.v201508030321"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.11.v201508030321"/>
<unit id="org.eclipse.emf.mwe.utils" version="1.3.11.v201508030321"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.1.v201508030411"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.1.v201508030321"/>
<unit id="org.eclipse.xtend.core" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.xtend.feature.group" version="2.0.0.v201406030414"/>
<unit id="org.eclipse.xtend.lib.macro" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.4.v201508050135"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.datatools.connectivity.oda.feature.feature.group" version="1.12.0.v201406061321-7E7C7YBgJ9ET9OHLDfLZ"/>
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.12.0.v201406061321-7IAB-FE9JgeWjZZhMd-z0vb1ifD4"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xpand.feature.group" version="2.1.0.v201505260349"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="2.1.0.v201505260349"/>
<repository location="http://download.eclipse.org/modeling/m2t/xpand/updates/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.chart.feature.group" version="4.4.2.v201410272105-829B7QFQCnvK6GVLVWBZS"/>
<repository location="http://download.eclipse.org/birt/update-site/4.4"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20150925-2135"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.11.0.v20150925-2135"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20150925-2135"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.11.0.v20150925-2135"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20150925-2135"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.11.0.v20150925-2135"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20150925-2135"/>
<repository location="http://download.eclipse.org/rt/ecf/3.11.0/site.p2/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jbibtex.source" version="1.0.15"/>
<unit id="org.jbibtex" version="1.0.15"/>
<repository location="https://dl.bintray.com/lschuetze/org.jbibtex"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.1.v20150831-1342"/>
<unit id="org.eclipse.platform.ide" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.platform.sdk" version="4.5.1.M20150904-0015"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.1.v20150904-0015"/>
<unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.batik.css.source" version="1.7.0.v201011041433"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.apache.batik.util.gui.source" version="1.7.0.v200903091627"/>
<unit id="org.apache.batik.parser" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.ext.awt" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.xml" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.bridge" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.svggen" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.xml.source" version="1.7.0.v201011041433"/>
<unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
<unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
<unit id="org.apache.batik.transcoder.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.util.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom.svg.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.svggen.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.ext.awt.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom" version="1.7.1.v201505191845"/>
<unit id="org.apache.batik.transcoder" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.dom.svg" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.bridge.source" version="1.7.0.v201011041433"/>
<unit id="org.apache.batik.util.gui" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.css" version="1.6.0.v201011041432"/>
<unit id="org.apache.batik.util" version="1.6.0.v201011041432"/>
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="org.apache.batik.dom.source" version="1.7.1.v201505191845"/>
<unit id="org.apache.batik.parser.source" version="1.7.0.v201011041433"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150821153341/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
