<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tudresden.slr.wizards.slr"
            name="SLR">
      </category>
      <wizard
            category="de.tudresden.slr.wizards.slr"
            class="de.tudresden.slr.wizards.NewSlrProjectWizard"
            finalPerspective="de.tudresden.slr.ui.perspective.perspective"
            hasPages="true"
            icon="icons/newslrprj_wiz.gif"
            id="de.tudresden.slr.wizards.newSlrProject"
            name="SLR Project"
            project="true">
      </wizard>
      <wizard
            category="de.tudresden.slr.wizards.slr"
            class="de.tudresden.slr.wizards.NewBibtexWizard"
            icon="icons/bibtex-logo.gif"
            id="de.tudresden.slr.wizards.NewBibtexWizard"
            name="Bibtex file">
      </wizard>
      <wizard
            category="de.tudresden.slr.wizards.slr"
            class="de.tudresden.slr.wizards.NewTaxonomyWizard"
            icon="icons/taxonomy-icon.gif"
            id="de.tudresden.slr.wizards.NewTaxonomyWizard"
            name="Taxonomy file">
      </wizard>
   </extension>
   <extension
         id="de.tudresden.slr.wizards.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tudresden.slr.wizards.natures.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.tudresden.slr.wizards.slrImport"
            name="SLR">
      </category>
      <wizard
            category="de.tudresden.slr.wizards.slrImport"
            class="de.tudresden.slr.wizards.ImportTaxonomyWizard"
            icon="icons/taxonomy-icon.gif"
            id="de.tudresden.slr.wizards.importTaxWizard"
            name="Taxonomy">
      </wizard>
      <category
            id="de.tudresden.slr.wizards.importWizards.sampleCategory"
            name="SLR">
      </category>
      <wizard
            category="de.tudresden.slr.wizards.slrImport"
            class="de.tudresden.slr.wizards.ImportBibtexWizard"
            icon="icons/bibtex-logo.gif"
            id="de.tudresden.slr.wizards.importWizards.ImportBibtexWizard"
            name="Import Bibtex">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>


</plugin>
