<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bibtex -->
      <package
            uri="http://tudresden.de/slr/2015"
            class="bibtex.BibtexPackage"
            genModel="model/bibtex.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated bibtex -->
      <parser
            type="bib"
            class="bibtex.util.BibtexResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bib -->
      <package
            uri="http://tudresden.de/slr/2015"
            class="de.tudresden.slr.model.bibtex.BibtexPackage"
            genModel="model/bibtex.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated bib -->
      <parser
            type="bib"
            class="de.tudresden.slr.model.bibtex.util.BibtexResourceFactoryImpl"/>
   </extension>
</plugin>
