<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="bibtex.presentation"
            name="Bibtex UI">
      </category>
      <view
            category="bibtex.presentation"
            class="de.tudresden.slr.model.bibtex.ui.presentation.BibtexEntryView"
            icon="icons/sample.gif"
            id="bibtex.presentation.BibtexEntryView"
            name="Bibtex Entries">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="bibtex.presentation.BibtexEntryView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tudresden.slr.model.bibtex.ui.presentation.BibtexEditor"
            contributorClass="de.tudresden.slr.model.bibtex.ui.presentation.BibtexContributor"
            icon="icons/sample.gif"
            id="bibtex.presentation.BibtexEditor"
            name="Bibtex Editor">
      </editor>
      <editor
            class="de.tudresden.slr.model.bibtex.ui.presentation.BibtexOverviewEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/sample.gif"
            id="bibtex.presentation.BibtexOverviewEditor"
            name="Bibtex Overview">
      </editor>
   </extension>


</plugin>
