<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tudresden.slr.product.product"
            name="SLR Product">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="SLR Product">
         <property
               name="appName"
               value="SLR Product">
         </property>
      </product>
   </extension>

</plugin>
