<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tudresden.slr.app.application"
            name="app">
         <property
               name="appName"
               value="app">
         </property>
                  <property
name="clearPersistedState"
value="true">
</property>
      </product>
   </extension>
</plugin>
