<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tudresden.slr.metainformation.editors.MetainformationEditor"
            default="false"
            extensions="slrproject"
            id="de.tudresden.slr.metainformation.editor1"
            name="Metainformation Editor">
      </editor>
   </extension>

</plugin>
