<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="helloworldchart.HelloWorldView"
            id="test.view1"
            name="HelloWorldChart"
            restorable="true">
      </view>
   </extension>

</plugin>
