/.TaxonomyDescriptionLabelProvider.java._trace
/.TaxonomyLabelProvider.java._trace
/TaxonomyDescriptionLabelProvider.java
/TaxonomyLabelProvider.java
/.TaxonomyDescriptionLabelProvider.xtendbin
/.TaxonomyLabelProvider.xtendbin
