<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.views">
     <category
            id="de.tudresden.slr.views"
            name="SLR Toolkit"/>
      <view
            category="de.tudresden.slr.views"
            class="de.tudresden.slr.model.taxonomy.ui.views.TaxonomyCheckboxListView"
            id="de.tudresden.slr.model.taxonomy.ui.views.TaxonomyCheckboxListView"
            icon="icons/tree_mode.gif"
            name="Taxonomy">
      </view>
   </extension>
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="taxonomy"
            icon="icons/tree_mode.gif"
            id="de.tudresden.slr.model.taxonomy.Taxonomy"
            name="Taxonomy Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.tudresden.slr.model.taxonomy.Taxonomy.validate">
         <activeWhen>
            <reference
                    definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.tudresden.slr.model.taxonomy.Taxonomy" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="de.tudresden.slr.model.taxonomy.Taxonomy.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.tudresden.slr.model.taxonomy.Taxonomy" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.tudresden.slr.model.taxonomy.Taxonomy"
            name="Taxonomy">
            <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
        </page>
        <page
            category="de.tudresden.slr.model.taxonomy.Taxonomy"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.tudresden.slr.model.taxonomy.Taxonomy.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
        </page>
        <page
            category="de.tudresden.slr.model.taxonomy.Taxonomy"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.tudresden.slr.model.taxonomy.Taxonomy.templates"
            name="Templates">
            <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.tudresden.slr.model.taxonomy.Taxonomy"
            name="Taxonomy">
            <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"
            label="Taxonomy"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.tudresden.slr.model.taxonomy.Taxonomy.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.OpenBubbleChartHandler"
            description="Open a BubbleChart for two taxonomy terms in the browser"
            id="de.tudresden.slr.model.taxonomy.ui.openbubblechart"
            name="Open BubbleChart">
      </command>
      <command
            defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.OpenCiteHandler"
            description="Open a Bar Chart for one taxonomy term in the browser"
            id="de.tudresden.slr.model.taxonomy.ui.opencitebar"
            name="Open Cite Bar">
      </command>
      <command
      		defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.CreateTermHandler"
      		id="de.tudresden.slr.model.taxonomy.ui.createterm"
      		name="New Term">
      </command>    
      <command
      		defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.RenameTermHandler"
      		id="de.tudresden.slr.model.taxonomy.ui.renameterm"
      		name="Rename Selected Term">
      </command> 
      <command
      		defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.DeleteTermHandler"
      		id="de.tudresden.slr.model.taxonomy.ui.deleteterm"
      		name="Delete Selected Term(s)">
      </command>
      <command
      		defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.MoveTermHandler"
      		id="de.tudresden.slr.model.taxonomy.ui.moveterm"
      		name="Move Selected Term(s)">
      </command>    
      <command
      		defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.MergeTermsHandler"
      		id="de.tudresden.slr.model.taxonomy.ui.mergeterms"
      		name="Merge Selected Terms">
      </command> 
      <command
      		defaultHandler="de.tudresden.slr.model.taxonomy.ui.handlers.SplitTermHandler"
      		id="de.tudresden.slr.model.taxonomy.ui.splitterm"
      		name="Split Selected Term">
      </command>  		
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.tudresden.slr.model.taxonomy.Taxonomy.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:de.tudresden.slr.model.taxonomy.ui.views.TaxonomyCheckboxListView">
            <command
                  commandId="de.tudresden.slr.model.taxonomy.ui.openbubblechart"
                  icon="icons/bubble_chart.png"
                  label="Open Bubblechart"
                  style="push"
                  tooltip="Open Bubblechart in Browser for 2 chosen Taxonomy Terms">
            </command>
            <command
                  commandId="de.tudresden.slr.model.taxonomy.ui.opencitebar"
                  id="de.tudresden.slr.model.taxonomy.ui.opencitebarbutton"
                  icon="icons/chart_bar.png"
                  label="Open Cite Barchart"
                  style="push"
                  tooltip="Open bar chart in Browser for the chosen Taxonomy Term">
            </command>
         </menuContribution>
         <menuContribution
         		locationURI="popup:de.tudresden.slr.model.taxonomy.ui.views.TaxonomyCheckboxListView">
     		<command
 		 		commandId="de.tudresden.slr.model.taxonomy.ui.createterm"
     		 	tooltip="New Term">
     		 	<visibleWhen
     		 		checkEnabled="false">
   					<with variable="selection">
   						<count value="1"/>
      					<iterate
           					ifEmpty="false">
          					<instanceof value="de.tudresden.slr.model.taxonomy.Term"/>
      					</iterate>
   					</with>
				</visibleWhen>
     		</command>
     		<command
 		 		commandId="de.tudresden.slr.model.taxonomy.ui.renameterm"
     		 	tooltip="Rename Selected Term">
     		 	<visibleWhen
     		 		checkEnabled="false">
   					<with variable="selection">
   						<count value="1"/>
      					<iterate
           					ifEmpty="false">
          					<instanceof value="de.tudresden.slr.model.taxonomy.Term"/>
      					</iterate>
   					</with>
				</visibleWhen>
     		</command> 
     		<command
 		 		commandId="de.tudresden.slr.model.taxonomy.ui.deleteterm"
     		 	tooltip="Delete Selected Term(s)">
     		 	<visibleWhen
     		 		checkEnabled="false">
   					<with variable="selection">
      					<iterate
           					ifEmpty="false">
          					<instanceof value="de.tudresden.slr.model.taxonomy.Term"/>
      					</iterate>
   					</with>
				</visibleWhen>
     		</command>  
     		<command
 		 		commandId="de.tudresden.slr.model.taxonomy.ui.moveterm"
     		 	tooltip="Move Selected Term(s)">
     		 	<visibleWhen
     		 		checkEnabled="false">
   					<with variable="selection">
      					<iterate
           					ifEmpty="false">
          					<instanceof value="de.tudresden.slr.model.taxonomy.Term"/>
      					</iterate>
   					</with>
				</visibleWhen>
     		</command> 
     		<command
 		 		commandId="de.tudresden.slr.model.taxonomy.ui.mergeterms"
     		 	tooltip="Merge Selected Terms">
     		 	<visibleWhen
     		 		checkEnabled="false">
   					<with variable="selection">
   						<count value="(1-"/>
      					<iterate
           					ifEmpty="false">
          					<instanceof value="de.tudresden.slr.model.taxonomy.Term"/>
      					</iterate>
   					</with>
				</visibleWhen>
     		</command>
     		<command
 		 		commandId="de.tudresden.slr.model.taxonomy.ui.splitterm"
     		 	tooltip="Split Selected Term">
     		 	<visibleWhen
     		 		checkEnabled="false">
   					<with variable="selection">
   						<count value="1"/>
      					<iterate
           					ifEmpty="false">
          					<instanceof value="de.tudresden.slr.model.taxonomy.Term"/>
      					</iterate>
   					</with>
				</visibleWhen>
     		</command>                    				 
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="taxonomy">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="taxonomy">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for de.tudresden.slr.model.taxonomy.Taxonomy -->
	<extension
	        id="taxonomy.check.fast"
	        name="Taxonomy Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="taxonomy.check.normal"
	        name="Taxonomy Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="taxonomy.check.expensive"
	        name="Taxonomy Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="taxonomy"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.tudresden.slr.model.taxonomy.Taxonomy"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.tudresden.slr.model.taxonomy.Taxonomy.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.tudresden.slr.model.taxonomy.Taxonomy"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.tudresden.slr.model.taxonomy.Taxonomy.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="de.tudresden.slr.model.taxonomy.Taxonomy.OpenGeneratedCode"
				style="push">
					<visibleWhen checkEnabled="false">
						<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened" />
					</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
				<activeWhen>
					<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened" />
				</activeWhen>
		</handler>
	</extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for de.tudresden.slr.model.taxonomy.Taxonomy -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.tudresden.slr.model.taxonomy.ui.taxonomy.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.tudresden.slr.model.taxonomy.ui.taxonomy.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.tudresden.slr.model.taxonomy.ui.taxonomy.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="de.tudresden.slr.model.taxonomy.Taxonomy.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="de.tudresden.slr.model.taxonomy.Taxonomy"
	        class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="de.tudresden.slr.model.taxonomy.Taxonomy.refactoring"
	        name="Refactoring">
	        <keywordReference id="de.tudresden.slr.model.taxonomy.ui.keyword_Taxonomy"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="de.tudresden.slr.model.taxonomy.Taxonomy.compare.contentViewers"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="taxonomy">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="de.tudresden.slr.model.taxonomy.Taxonomy.compare.contentMergeViewers"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="taxonomy" label="Taxonomy Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="de.tudresden.slr.model.taxonomy.Taxonomy.editors.documentProviders"
            class="de.tudresden.slr.model.taxonomy.ui.TaxonomyExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="taxonomy">
    </provider>
  </extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="taxonomy"
            type="text">
    </fileTypes>
  </extension>
</plugin>
