<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.tudresden.slr.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SLR"
            class="de.tudresden.slr.app.Perspective"
            id="de.tudresden.slr.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="de.tudresden.slr.app.View"
            id="de.tudresden.slr.app.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.tudresden.slr.app.perspective">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="de.tudresden.slr.app.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
               <menu
                  commandId="org.eclipse.ui.file.newQuickMenu"
                  label="New">
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="Other"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open File..."
                  style="push">
            </command>
            <separator
                  name="fileMenuSeparator0"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="fileMenuSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  label="Revert"
                  style="push">
            </command>
                        <separator
                  name="fileMenuSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>  
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tudresden.slr.app.application"
            name="app">
         <property
               name="appName"
               value="app">
         </property>
      </product>
   </extension>

</plugin>
