<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.tudresden.slr.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SLR"
            class="de.tudresden.slr.app.Perspective"
            id="de.tudresden.slr.app.perspective">
      </perspective>
   </extension>
<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.tudresden.slr.app.perspective">
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.resources.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="stack"
               relative="de.tudresden.slr.model.bibtex.presentation.BibtexEntryView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="de.tudresden.slr.model.bibtex.presentation.BibtexEntryView"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="de.tudresden.slr.model.taxonomy.ui.views.TaxonomyCheckboxListView"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="de.tudresden.slr.model.bibtex.presentation.BibtexEntryView">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               relationship="stack"
               relative="de.tudresden.slr.model.bibtex.presentation.BibtexEntryView">
         </view>
         <view
               id="chart.view.chartview"
               minimized="false"
               ratio="0.25"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
               <menu
                  commandId="org.eclipse.ui.file.newQuickMenu"
                  label="New">
               <command
                     commandId="org.eclipse.ui.newWizard"
                     label="Other"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open File..."
                  style="push">
            </command>
            <separator
                  name="fileMenuSeparator0"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="fileMenuSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  label="Revert"
                  style="push">
            </command>
                        <separator
                  name="fileMenuSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export..."
                  style="push">
            </command>
            <separator
                  name="fileMenuSeparator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Search">
            <command
                  commandId="org.eclipse.search.ui.openSearchDialog"
                  label="Search"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.search.ui.openFileSearchPage"
                  label="File..."
                  style="push">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show View"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Show Perspective"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tudresden.slr.app.application"
            name="app">
         <property
               name="appName"
               value="app">
         </property>
      </product>
   </extension>

</plugin>
