<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.tudresden.slr.googlescholar"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.tudresden.slr.googlescholar.slrgooglescholar"
            class="de.tudresden.slr.googlescholar.GSImportWizard"
            hasPages="true"
            id="de.tudresden.slr.googlescholar.gsimportwizard"
            name="Google Scholar Import"
            project="false">
      </wizard>
      <category
            id="de.tudresden.slr.googlescholar.slrgooglescholar"
            name="Google Scholar">
      </category>
   </extension>

</plugin>
