<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tudresden.slr.model.mendeley.preferences.MendeleyPreferencePage"
            id="de.tudresden.slr.model.mendeley.preferences.MendeleyPreferencePage"
            name="Mendeley">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tudresden.slr.model.mendeley.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               icon="icons/mendeley.png"
               id="de.tudresden.slr.model.mendeley.menus.popupMenu"
               label="Mendeley Sync">
            <command
                  commandId="de.tudresden.slr.model.mendeley.startContextWizardCommand"
                  label="Synchronize with Mendeley Folder"
                  style="push">
            </command>
            <command
                  commandId="de.tudresden.slr.model.mendeley.SyncFolder"
                  icon="icons/refresh.png"
                  label="Update Folder"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="bib">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
            <command
                  commandId="de.tudresden.slr.model.mendeley.RemoveConnection"
                  label="Remove Conection"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.tudresden.slr.model.mendeley.menus.sampleMenu"
               label="Mendeley"
               mnemonic="M">
            <command
                  commandId="de.tudresden.slr.model.mendeley.commands.startWizardCommand"
                  id="de.tudresden.slr.model.mendeley.menus.startWizardCommand"
                  label="Synchronization Wizard"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.tudresden.slr.model.mendeley.SyncFolders"
                  icon="icons/refresh.png"
                  label="Update Folders"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.tudresden.slr.model.mendeley.toolbars.sampleToolbar">
            <command
                  commandId="de.tudresden.slr.model.mendeley.commands.sampleCommand"
                  icon="icons/sample.png"
                  id="de.tudresden.slr.model.mendeley.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.tudresden.slr.model.mendeley.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.tudresden.slr.model.mendeley.commands.category"
            id="de.tudresden.slr.model.mendeley.commands.startWizardCommand"
            name="Start Wizard Command">
      </command>
      <command
            id="de.tudresden.slr.model.mendeley.startContextWizardCommand"
            name="Start Context Wizard Command">
      </command>
      <command
            id="de.tudresden.slr.model.mendeley.SyncFolders"
            name="Synchronize Folders">
      </command>
      <command
            id="de.tudresden.slr.model.mendeley.SyncFolder"
            name="Syncronize Folder">
      </command>
      <command
            id="de.tudresden.slr.model.mendeley.RemoveConnection"
            name="Remove Connection">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.tudresden.slr.model.mendeley.handlers.WizardHandler"
            commandId="de.tudresden.slr.model.mendeley.commands.startWizardCommand">
      </handler>
      <handler
            class="de.tudresden.slr.model.mendeley.handlers.ContextWizardHandler"
            commandId="de.tudresden.slr.model.mendeley.startContextWizardCommand">
      </handler>
      <handler
            class="de.tudresden.slr.model.mendeley.handlers.SyncHandler"
            commandId="de.tudresden.slr.model.mendeley.SyncFolders">
      </handler>
      <handler
            class="de.tudresden.slr.model.mendeley.handlers.SyncContextHandler"
            commandId="de.tudresden.slr.model.mendeley.SyncFolder">
      </handler>
      <handler
            class="de.tudresden.slr.model.mendeley.handlers.RemoveConnectionHandler"
            commandId="de.tudresden.slr.model.mendeley.RemoveConnection">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tudresden.slr.model.mendeley.commands.startWizardCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.tudresden.slr.model.mendeley.decorators.MendeleyOverlayDecorator"
            icon="icons/sample_decorator.gif"
            id="de.tudresden.slr.model.mendeley.decorators.MendeleyOverlayDecorator"
            label="Mendeley Decorator"
            lightweight="false"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <!-- locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additionsde.tudresden.slr.model.mendeley.menuContribution1"> -->

</plugin>
